/* main wrapper */
.main{
  width: 100%;
  min-height: 100vh;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 1400px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  /* overflow: hidden; */
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}
.form-img{
  width: 50%;
}

.form-img img{
  width: 100%;
  height: 100%;
  position: relative;
  top: -80px;
  object-fit: cover;
}

.book-form{
  width: 55%;
  padding: 40px;
}
.book-form h1{
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-column: 1 / -1;
  margin-bottom: 30px;
}

.book-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.book-form .row,
.book-form button,
.book-form .input-group textarea{
  grid-column: span 2;
}

.input-group{
  display: flex;
  flex-direction: column;
}

.input-group label{
  font-size: 17px;
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
}

.input-group input,
.input-group select,
.input-group textarea{
  border: none;
  border-bottom: 3px solid #ccc;
  padding: 10px 5px;
  color: black;
  font-size: 19px;
  outline: none;
  background: transparent;
  transition: 0.3s;

}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus{
  border-bottom-color: #1e88e5;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* .row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
} */

/* button */
.book-form button{
  margin-top: 10px;
  padding: 14px;
  background: linear-gradient(135deg,#1e88e5,#1565c0);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.book-form button:hover{
  background: linear-gradient(135deg,#1565c0,#0d47a1);
  transform: translateY(-2px);
}

/* responsive */
@media(max-width:900px){
  .content{
    flex-direction: column;
  }

  .form-img{
    width: 100%;
    height: 250px;
  }

  .book-form{
    width: 100%;
    grid-template-columns: 1fr;
  }

  .book-form  .row,
  .book-form  button,
  .book-form  .input-group textarea{
    grid-column: span 1;
  }
}
