/* main wrapper */
.main{
  width: 100%;
  min-height: 100vh;
  /* background: #f5f7fb; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
    overflow: hidden;
}
.main::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content{
  width: 1400px;
  background: rgba(255, 255, 255, 0.048);
   backdrop-filter: blur(12px);
  display: flex;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  
}
.form-img{
  width: 50%;
}

.first-form-img{
  width:50%;
}
 
.first-form-img img{
  width: 300px;
   position: relative;
  /* margin-left: 300px; */
   border-radius: 20px;
  margin-top: 30px;
}

.form-img img{
  width: 100%;
  height: 100%;
  position: relative;
  top: 35px;
  object-fit: cover;
}

.book-form{
  width: 55%;
  padding: 40px;
}
.book-form h1{
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-column: 1 / -1;
  margin-bottom: 30px;
}

.book-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}


.book-form .row,
.book-form button,
.book-form .input-group textarea{
  grid-column: span 2;
}

.input-group{
  display: flex;
  flex-direction: column;
}

.input-group label{
  font-size: 17px;
  font-weight: 600;
 color: white;
  margin-bottom: 6px;
}

.input-group input,
.input-group select
{
  border: none;
  border-bottom: 3px solid #ccc;
  padding: 10px 5px;
color: white;
  font-size: 19px;
  outline: none;
  background: transparent;
  transition: 0.3s;

}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus{
  border-bottom-color: #1e88e5;
}

.input-group select option{
  color: black;
}
.input-group textarea{
    border: 1px solid white;
  border-bottom: 3px solid #ccc;
  padding: 10px 5px;
  color: white;
  font-size: 19px;
  outline: none;
  background: transparent;
  transition: 0.3s;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}
::placeholder{
  color: white;
}

.book-form button{
  margin-top: 10px;
  padding: 14px;
  background: linear-gradient(135deg,#1e88e5,#1565c0);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.book-form button:hover{
  background: linear-gradient(135deg,#1565c0,#0d47a1);
  transform: translateY(-2px);
}

@media(max-width:900px){
  .content{
    flex-direction: column;
  }

  .form-img{
    width: 100%;
    height: 250px;
  }

  .book-form{
    width: 100%;
    grid-template-columns: 1fr;
  }

  .book-form  .row,
  .book-form  button,
  .book-form  .input-group textarea{
    grid-column: span 1;
  }
}
