
.doctor-section {
  padding: 80px 60px;
  height: 100vh;
  width: 100%;
  background: url("../assets/service_bg.jpg") center/cover no-repeat;
}

.doctor-header {
  text-align: center;
  margin-bottom: 50px;
  font-size: 22px;
}

.doctor-header span {
  color: #00a6ff;
  font-weight: 600;
}

.doctor-header h2 {
  font-size: 42px;
  margin-top: 10px;
}

.doctor-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.doctor-card {
  width: 260px;
  background: #e9f6ff;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.doctor-card:hover {
  transform: translateY(-10px);
}

.doctor-card img {
  width: 100%;
    height:auto;

     object-position: top;
    aspect-ratio:3/4;  
      display:block;
}

.card-info {
  background:rgb(0, 85, 0);
  color: white;
  padding: 18px;
  position: relative;
}

.card-info h3 {
  font-size: 18px;
}

.card-info p {
  font-size: 14px;
  opacity: 0.9;
}

.card-info small {
  font-size: 12px;
  opacity: 0.8;
}

.card-info button {
  position: absolute;
  right: 15px;
  top: -18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  cursor: pointer;
  background: white;
  color: #009dff;
}

.view-btn {
  display: block;
  margin: 50px auto 0;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  background:rgb(186, 87, 87);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
