* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


.hero-section {
  min-height: 100vh;
background: radial-gradient(circle at left,
    #67d3ca 10%,
    #d2f2f9 40%,
    #e9fde7 70%);
  display: flex;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
    overflow-x: hidden;
  overflow-y: visible;
  
}

.hero-container {
  width: 90%;
  margin: auto;
  z-index: 2;
  
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* LEFT SIDE */

.hero-left {
  width: 50%;
  margin-left: 130px;

}

.hero-tag {
  color: #00aaff;
  font-size: 22px;
  font-weight: 600;
  
}

.hero-left h1 {
  font-size: 65px;
  font-weight: 600;
  margin: 20px 0;
  color: #002c57;
  line-height: 1.2;
}

.hero-left p {
  color: #555;
  max-width: 480px;
  line-height: 1.6;
  font-size: 22px;
}

/* BUTTON */

.hero-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 34px;
  background: #00aaff;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 8px 20px rgba(0, 170, 255, 0.3);
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #008ecc;
  transform: translateY(-4px);
}

/* STATS */

.hero-stats {
  display: flex;
  gap: 25px;
  margin-top: 45px;
}

.stat-box {
  padding-top: 30px;
  padding-bottom: 100px;

}

.stat-box h2 {
  color: #0a2540;
  font-size: 44px;
  font-weight: 600;
 
}

.stat-box span {
  font-size: 20px;
  color: #666;
}

/* RIGHT SIDE */

.hero-right {
  width: 50%;
  position: relative;
  right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-big-circel {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
   opacity: 0;
  scale: 0;
}

.hero-circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.hero-img,
.hero-circle,
.hero-big-circel {
  will-change: transform, opacity;
}

.hero-img {
  width: 650px;
  position: relative;
  top: 25px;
  z-index: 3;
  filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.25));
 opacity: 0;
  scale: 0;
 
}


/* RESPONSIVE */

@media (max-width: 900px) {

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-stats {
    justify-content: center;
  }

  .hero-circle {
    width: 300px;
    height: 300px;
  }

  .hero-img {
    width: 280px;
    margin-top: 30px;
  }
}


.about {
  width: 100%;
  min-height: 100vh;
  background: #f6fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bg-layar{
  position: absolute;

  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
  
  /* inset: 0; */
  opacity: 0.2;
  background-image: url('../assets/medical-312324_1920.png');
  background-repeat: no-repeat;
  z-index: 1;
}

.about-container {
    position: relative;
      z-index: 2;
  width:1200px;
  display: flex;
  align-items: center;
  gap: 60px;
  
}

/* LEFT IMAGES */

.about-left-img {
  width: 60%;
  position: relative;
}

.first-img {
  width: 350px;
  height: 430px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.second-img {
  width: 400px;
  height:490px;
  position: absolute;
  top: 200px;
  left: 190px;
  border-radius: 18px;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.first-img img,
.second-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT CONTENT */

.about-right-content {
  width: 40%;
   z-index: 2;

}

.about-right-content h4 {
  color: #1b4b82;
  font-size: 30px;
  font-weight:600;
  text-transform: uppercase;
  display: inline;
}

span{
  color:green;
  font-size:18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  

}

.about-right-content h2 {
  font-size: 44px;
  font-weight: bold;
  line-height: 1.2;
  color: #111;
  margin-bottom: 15px;
  margin-top: 80px;
}

.about-right-content p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 25px;
  font-size: 17px;
}

.about-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 100px;
}

.about-btn:hover {
  background: rgba(114, 185, 114, 0.415);
  color: black;
  
}

@keyframes appear {
  from{
    opacity: 0;
clip-path: inset(100% 100% 0 0);  }
  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}



