* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


.hero-section {
  min-height: 100vh;
background: radial-gradient(circle at left,
    #67d3ca 10%,
    #d2f2f9 40%,
    #e9fde7 70%);
  display: flex;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
    overflow-x: hidden;
  overflow-y: visible;
  
}

.hero-container {
  width: 90%;
  margin: auto;
  z-index: 2;
  
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* LEFT SIDE */

.hero-left {
  width: 50%;
  margin-left: 130px;

}

.hero-tag {
  color: #00aaff;
  font-size: 22px;
  font-weight: 600;
  
}

.hero-left h1 {
  font-size: 65px;
  font-weight: 600;
  margin: 20px 0;
  color: #002c57;
  line-height: 1.2;
}

.hero-left p {
  color: #555;
  max-width: 480px;
  line-height: 1.6;
  font-size: 22px;
}

/* BUTTON */

.hero-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 34px;
  background: #00aaff;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 8px 20px rgba(0, 170, 255, 0.3);
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #008ecc;
  transform: translateY(-4px);
}

/* STATS */

.hero-stats {
  display: flex;
  gap: 25px;
  margin-top: 45px;
}

.stat-box {
  padding-top: 30px;
  padding-bottom: 100px;

}

.stat-box h2 {
  color: #0a2540;
  font-size: 44px;
  font-weight: 600;
 
}

.stat-box span {
  font-size: 20px;
  color: #666;
}

/* RIGHT SIDE */

.hero-right {
  width: 50%;
  position: relative;
  right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-big-circel {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
   opacity: 0;
  scale: 0;
}

.hero-circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.hero-img,
.hero-circle,
.hero-big-circel {
  will-change: transform, opacity;
}

.hero-img {
  width: 650px;
  position: relative;
  top: 25px;
  z-index: 3;
  filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.25));
 opacity: 0;
  scale: 0;
 
}


/* RESPONSIVE */

@media (max-width: 900px) {

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-stats {
    justify-content: center;
  }

  .hero-circle {
    width: 300px;
    height: 300px;
  }

  .hero-img {
    width: 280px;
    margin-top: 30px;
  }
}

/* 
.about {
  
  width: 100%;
  min-height: 100vh;
  background: #f6fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
/* ABOUT SECTION */

.about-section {
  width: 100%;
  height:auto;
  padding: 100px 0;
  background: #fff;
  position: relative;
  overflow: hidden;
}

/* RIGHT SIDE BACKGROUND */
.about-section::after {
  content: "";
  position: absolute;

  top: 0;
  right: -25%;
  width: 60%;
  height: 100%;
 background:
  linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  border-radius: 0 0 0 250px;
  z-index: 1;
}

.about-video-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.about-video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-video-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.303),
    rgba(255, 255, 255, 0.389)
  );
}

/* WRAPPER */

.about-wrapper {
  max-width: 1200px;
  margin: auto;

  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 2;
}

/* LEFT IMAGE */

.about-images {
  width: 100%;
  position: relative;
  right: 70px;
  /* min-height: '200vh'; padding-top: '150px'; */

 will-change: transform, opacity;
  transform: translateZ(0);
}

.img-large img {
  width: 80%;
  border-radius: 14px;
}

.img-small {
  position: absolute;
  bottom: -130px;
  right: -10px;
  width: 260px;
  border-radius: 14px;
  overflow: hidden;
}

.img-small img {
  width: 100%;
}
.about-content {

  width: 100%;
}

.about-tag {
  color:white;
  font-size: 26px;
  padding: 10px;
  background-color:  #6697ad;
  width: 218px;
  height: 89px;
  font-weight: 600;

}

.about-content h2 {
  font-size: 38px;

  font-weight: 800;
  margin: 70px 0;
}

.about-content p {
  color: #555;
  font-size: 17px;
  line-height: 1.7;
}

/* FEATURES */

.about-features {
  display: flex;
  gap: 40px;
  color:rgb(114, 10, 152);
  margin: 60px 0;
}

.about-features ul {
  list-style: none;
  padding: 0;
}

.about-features li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 22px;
  font-weight: 600;
}

.about-features li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #0bacc5;
}

/* BUTTON */

.discover-btn {
  display: inline-block;
  padding: 12px 28px;
  background: #103b6b;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 600;
}

.discover-btn:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .about-wrapper {
    flex-direction: column;
  }

  .about-images {
    right: 0;
  }

  .img-small {
    position: static;
    margin-top: 20px;
  }

  .about-section::after {
    right: 0;
    width: 100%;
    border-radius: 0;
  }
}

/* ----------------------------------------------  */

.doctor-section {
  padding: 80px 60px;
  background: url("../assets/service_bg.jpg") center/cover no-repeat;
}

.doctor-header {
  text-align: center;
  margin-bottom: 50px;
}

.doctor-header span {
  color: #00a6ff;
  font-weight: 600;
}

.doctor-header h2 {
  font-size: 42px;
  margin-top: 10px;
}

.doctor-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.doctor-card {
  width: 260px;
  background: #e9f6ff;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.doctor-card:hover {
  transform: translateY(-10px);
}

.doctor-card img {
  width: 100%;
    height:auto;

     object-position: top;
    aspect-ratio:3/4;  
      display:block;
}

.card-info {
  background: #009dff;
  color: white;
  padding: 18px;
  position: relative;
}

.card-info h3 {
  font-size: 18px;
}

.card-info p {
  font-size: 14px;
  opacity: 0.9;
}

.card-info small {
  font-size: 12px;
  opacity: 0.8;
}

.card-info button {
  position: absolute;
  right: 15px;
  top: -18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  cursor: pointer;
  background: white;
  color: #009dff;
}

.view-btn {
  display: block;
  margin: 50px auto 0;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  background: #009dff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


/* ------------------------------------------------  */

.process-section {
  padding: 120px 0;
  position: relative;
  overflow: hidden;

  background: linear-gradient(90deg,#e8fbff 0%, #f2f8ff 50%, #f4fff0 100%
  );
}

.process-section::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.25;
  pointer-events: none;
}

.process-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.process-tag {
  color: #1b3747;
  font-weight:600;
  font-size: 28px;

  display: inline-block;
  margin-bottom: 10px;
}

.process-container h2 {
  font-size: 60px;
  margin-bottom: 80px;
}

.process-steps {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.step {
  width: 23%;
  text-align: center;
}

.step h3 {
  margin: 20px 0 10px;
  font-size: 22px;
}

.step p {
  color: #2d3a4f;
  font-size: 16px;
  line-height: 1.6;
}

.step-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.green { background: #27c07d; }
.blue { background: #009dff; }
.pink { background: #ff5c8a; }
.yellow { background: #ffc107; }

.wave-line {
  position: absolute;
  top: -60px;
  left: 180px;
  width: 100%;
  z-index: -1;
}

@media (max-width: 900px) {
  .process-steps {
    flex-direction: column;
    gap: 50px;
  }

  .step {
    width: 100%;
  }

  .wave-line {
    display: none;
  }
}
