

.booking-page {

  background: linear-gradient(135deg, #eef4ff, #f9fbff);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
}

.booking-card {
  width: 100%;
  max-width: 900px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.booking-top {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(135deg, #2e7d32, #007406);
  color: white;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.booking-id {
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.booking-top h3 {
  font-size: 22px;
  font-weight: 600;
}

/* Arrow */
.arrow {
  font-size: 24px;
  transition: 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/* Dropdown */
.dropdown-content {
  padding: 25px;
  animation: fadeSlide 0.3s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Grid */
.booking-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.info-box {
  background: #f8faff;
  padding: 14px 18px;
  border-radius: 14px;
}

.info-box label {
  font-size: 20px;
  color: #666;
}

.info-box p {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}


.badge {
 
  color:white;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 14px;
}


.symptoms-box {
  margin-top: 20px;
  background: #f1f6ff;
  font-size: 18px;
  padding: 18px;
  border-radius: 14px;
}

/* Footer */
.booking-footer {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}

.cancel-btn {
  background: #ffecec;
  color: #c62828;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer;
}

.reschedule-btn {
   background: linear-gradient(135deg, #2e7d32, #005704);

  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .booking-grid {
    grid-template-columns: 1fr;
  }
}
