*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

.top-bar{
  height:50px;
  background:rgba(0,0,0,0.6);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 60px;
  color:#fff;
  font-size:13px;
}

.top-left{
  display:flex;
  gap:20px;
  font-size: 18px;
}

.top-right .appointment-btn{
  background:#7ed321;
  padding:18px 30px;
  color:#fff;
  font-weight:600;
  text-decoration:none;
  font-size:13px;
}

.navbar{
  height:80px;
   background:rgba(0, 0, 0, 0.126);
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 60px;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
    color:#4e9700;
  font-size:22px;
  font-weight:600;
}

.logo-icon{
  width: 70px;
  font-size:26px;
}

.nav-links{ 
  list-style:none;
  display:flex;
  gap:35px;
  transition: 0.3s ease;

}
.nav-links a{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   color: green;
   font-weight: 600;
}

.nav-links a:hover{
  font-weight: 600;
  transform: scale(1.1);
}

.signup a{
  color:black;
  font-weight:600;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;

}
.signup a:hover{
  border: none;
  color: white;
  background:green;
}

.login a{
  color:white;
  font-weight:600;
  font-size: 16px;
  border-radius: 25px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
    background:green;
}
.login a:hover{
  border: none;
  color: black;
  border: 1px solid black;
  background: transparent;
}

.logout button{
   color:white;
   cursor: pointer;
  font-weight:600;
  font-size: 16px;
  border-radius: 25px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
    background:green;
}

.logout button:hover{
  border: none;
  color: black;
  border: 1px solid black;
  background: transparent;
}


ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile{
  font-size: 22px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
}




